<footer class="footer">
  <div class="footer-content">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg" alt="Airbnb Logo">
    <p>Find your next escape</p>
    <span>© <%= Time.current.year %> Airbnb — Made with ❤️</span>
  </div>
</footer>