// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/navbar";
@import "components/footer";
@import "pages/index";

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > main,
body > .container,
body > .wrapper {
  flex: 1;
}
